body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
  line-height: 24px;
  background-color: rgb(236, 245, 244);
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(4, 29, 77);
  color: beige;
}

main {
  display: block;
}

footer {
  display: flex;
  background-color: rgb(4, 29, 77);
  color: beige;
}

.alink {
  color: beige;
}

.photo {
  width: 250px;
  display: flex;
  flex: 0 1 250px;
}

.project1 {
  width: 500px;
}

.projectN {
  width: 200px;
}

.img1 {
  width: 500px;
}

.imgN {
  width: 200px;
}

.imgTitle {
  margin-top: 0;
}

.first,
.second {
  display: flex;
}

.second {
  background-color: rgba(216, 216, 218, 0.993);
}

.Contact-Me-title,
.Contact-Me {
  display: block;
}


.Work-title,
.About-Me-title,
.Work,
.About-Me {
    display: flexbox;
}

.Work-title,
.Contact-Me-title,
.About-Me-title {
  width: 30%;
}

.About-Me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
 .Work {
  flex-wrap: wrap;
 }

#Work,
#Contact-Me
#About-Me {
  display: block
}

.phone::before {
  font-family: Impact;
  content: '\260E';
  color: rgb(167, 164, 164);
  margin-right: 20px;
}

.email::before {
  font-family: Impact;
  content: '\0040';
  color: rgb(167, 164, 164);
  margin-right: 20px;
}

.LinkedIn::before {
  font-family: Impact;
  content: "💻";
  margin-right: 5px;
}

.GitHub::before {
  content: '\0371';
  color: rgb(167, 164, 164);
  margin-right: 20px;
}


@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
}
